*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Part */

header{
    background-image: url('./images/banner/banner2.png');
    background-size: cover;
    width: 100%;
    height: 809px;
}
.header-content{
    padding: 216px 230px 120px 845px;
    text-align: right;
}
.header-content h1{
    color: #151414;
    font-size: 65px;
    font-weight: 700;
}
.header-content p{
    color:  #444343;
    
    font-size: 20px;
    font-weight: 400;
}
.button{
    border-radius: 5px;
   background-color:#005FAC;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    margin-top: 10px;
    
}

/*Main Section*/

/*1st Part*/
.main-container{
    display: flex;
    width: 1400px;
    margin: 130px 320px 0px 220px;
    padding:20px;
    gap: 50px;
}
li{
    list-style: none;
}
li:before{
    content: "\2705";
}
.main-description{
    text-align: start;
    margin-left: 200px;
    margin-top: 200px;
    margin-bottom: 100px;
}
.main-description h1{
    color: #151414;
    font-size: 40px;
    font-weight: 700;  
    margin-bottom: 40px;
}
.main-description p{
    color: #444343;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.main-description li{
    color: #444343;
    font-size: 20px;;
    font-weight: 400;
    line-height: 26px;
    padding-top: 20px;
}

/*2nd Part*/
.plan{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 30px;
}
.main-heading{
    text-align: center;
    color:  #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 100px;
}

/* Main 3rd Part */
 .main-image{
    width: 1140px;
    height: 300px;
    background-image: url("images/gradient1.png"),url("images/watch.png");
    background-repeat: no-repeat;
    margin: 130px 230px 130px 350px;
    text-align: left;
    padding: 60px 615px 60px 65px;
 }
 .main-image h1{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
 }
 .button-2{
    border-radius: 5px;
    background-color:  #FFF;;
     border: none;
     color: #005FAC;
     font-size: 20px;
     font-weight: 600;
     padding: 10px 20px;
     margin-top: 10px;
     
 }

 /* Footer Part */
.footer-item{
    display: flex;
    justify-content: space-between;
    background-color: #151414;
    padding: 130px 230px 130px 260px;
}
.footer-list{
    width: 50%;
    margin-left: 150px;
}
.footer-item h1{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;

}
.footer-item p{
    color: #F8F8F8;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer-item input{
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 20px;
}
.footer-item a{
    margin: 30px;
}